.container {
  padding: 10px 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin button-base {
  display: inline-flex;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 2px;
  font-size: 14px;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px theme('colors.white'), 0 0 0 3px theme('colors.blue.500');
  }
}

.button {
  @include button-base;

  &:hover {
    background-color: theme('colors.gray.200');
  }
}

.icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.description {
  margin: 0 5px;
  font-size: 12px;
  font-weight: bold;
}
