.container {
  display: flex;
  align-items: center;
  height: 100%;
  box-shadow: 0 1px 0 0 theme('colors.gray.200');
}

@mixin button-base {
  display: inline-flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  border-radius: 2px;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px theme('colors.white'), 0 0 0 3px theme('colors.blue.500');
  }
}

.button {
  @include button-base;

  &.is-left {
    margin-left: -4px;
  }

  &.is-right {
    margin-right: -4px;
  }

  &.is-submit {
    font-size: 12px;
  }
}

.icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.input {
  flex: 1;
  height: 100%;
  margin: 0 4px;
  padding: 8px;
  font-size: 14px;
  color: theme('colors.gray.700');

  &:focus {
    &::placeholder {
      color: theme('colors.gray.500');
    }
  }

  &[data-is-empty='true'] + .button.is-submit {
    display: none;
  }
}
