.fixed-layer {
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  visibility: hidden;
}

.visible-layer {
  position: relative;
  visibility: visible;
}

.container {
  position: absolute;
  min-width: 200px;
  max-width: 290px;
  border-radius: 2px;
  // TODO: Replace to shadow-elevation
  box-shadow: rgb(0 0 0 / 13%) 0px 3.2px 7.2px 0px, rgb(0 0 0 / 11%) 0px 0.6px 1.8px 0px;
  background-color: theme('colors.white');
  padding: 6px 0;
}

.title {
  margin-bottom: 6px;
  text-align: center;
  padding: 8px;
  padding-bottom: 12px;
  border-bottom: 1px solid theme('colors.gray.200');
  color: theme('colors.gray.700');
  font-weight: 600;
  font-size: 14px;
}

.footer {
  margin-top: 6px;
  padding: 8px;
  padding-bottom: 12px;
  display: flex;
  justify-content: flex-end;
}

.save-button {
  height: 32px;
  font-size: 14px;
  padding: 0 12px;
  background-color: theme('colors.blue.500');
  color: theme('colors.white');
  border-radius: 2px;
  font-weight: bold;

  &:hover {
    background-color: theme('colors.blue.600');
  }
}

.body {
  border: none;

  :global {
    .react-datepicker__header {
      padding: 12px;
      padding-bottom: 0;
      border: none;
      background-color: transparent;
    }

    .react-datepicker__month {
      margin: 12px;
      margin-top: 0;
    }

    .react-datepicker__day-name,
    .react-datepicker__day,
    .react-datepicker__time-name {
      margin: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      width: 28px;
      height: 28px;
      color: theme('colors.gray.700');
      background-color: transparent;
      border-radius: 2px;

      .day-wrapper {
        display: inline-flex;
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
      }
    }

    .react-datepicker__day {
      &:hover {
        background-color: theme('colors.gray.100');
      }

      &:active {
        background-color: theme('colors.gray.200');
      }
    }

    .react-datepicker__day--selected {
      .day-wrapper {
        background-color: theme('colors.blue.500');
        color: theme('colors.white');
      }
    }

    .react-datepicker__day--outside-month {
      color: theme('colors.gray.500');
      pointer-events: none;
    }
  }

  .month-toolbar {
    display: flex;
    justify-content: space-between;
  }

  .toolbar-section {
    display: flex;
    align-items: center;
  }

  .current-month {
    font-size: 14px;
    font-weight: 600;
    color: theme('colors.gray.700');
    padding: 0 10px;
  }

  .navigation {
    display: inline-flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    color: theme('colors.gray.500');

    &:hover {
      background-color: theme('colors.gray.100');
    }

    &:active {
      background-color: theme('colors.gray.200');
    }
  }
}
