.overlay {
  display: none;
  pointer-events: none;

  @media (max-width: 770px) {
    position: absolute;
    z-index: 70;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    background-color: theme("colors.gray.700");
    transition: opacity 0.2s ease-in-out;
    pointer-events: auto;
  }
}

.container {
  box-sizing: content-box;
  width: calc(100% - 50px);
  height: calc(100vh - 48px);
  max-width: 360px;
  border-left: 1px solid theme("colors.gray.200");
  background-color: theme("colors.gray.100");
  transition: width 0.2s ease-in-out;

  @media (max-width: 770px) {
    position: absolute;
    z-index: 80;
    top: 0;
    right: 0;
    height: 100%;
  }
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: theme("colors.gray.100");
}

.flexible-section {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 10px;
  padding: 0 10px 16px;
}

.title-section {
  position: sticky;
  top: 0;
  z-index: 10;
  margin: 0;
  background-color: theme("colors.white");
  border: 1px solid theme("colors.gray.200");
  border-bottom: none;
  padding: 0 10px 2px;
  border-radius: 2px 2px 0 0;
}

.title-body {
  display: flex;
  align-items: center;
  min-height: 52px;
}

.button {
  display: inline-flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;

  &:focus {
    outline: 2px solid theme("colors.blue.500");
    outline-offset: -2px;
    border-radius: 2px;
  }
}

.icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.title-input {
  width: 100%;
  resize: none;
  padding: 4px 6px;
  border: none;
  height: 32px;
  color: theme("colors.gray.700");
  font-weight: 600;
  margin: 10px 0;

  &:hover {
    background-color: theme("colors.gray.100");
  }
}

.step-section {
  background-color: theme("colors.white");
  border: 1px solid theme("colors.gray.200");
  border-top: none;
  border-bottom: none;
  padding: 0 6px 2px;
}

.step-item {
  padding: 0 4px;

  &:hover {
    background-color: theme("colors.gray.100");
    box-shadow: 0 -1px 0 0 theme("colors.gray.100");

    & .step-body {
      box-shadow: none;
    }
  }
}

.step-body {
  display: flex;
  align-items: center;
  font-size: 14px;
  box-shadow: inset 0 -1px 0 0 theme("colors.gray.200");
  margin-left: 32px;
  min-height: 42px;
  color: theme("colors.gray.500");

  .button:first-child {
    margin-left: -32px;
  }
}

.step-title-input {
  width: 100%;
  padding: 4px 6px;
  background-color: transparent;
}

.separator {
  position: sticky;
  z-index: 10;
  border: 1px solid theme("colors.gray.200");
  border-top: none;
  height: 2px;
  background-color: theme("colors.white");
  border-radius: 0 0 2px 2px;
}

.general-section {
  border: 1px solid theme("colors.gray.200");
  margin: 10px 0;
  background-color: theme("colors.white");
  display: flex;
  font-size: 14px;
  color: theme("colors.gray.500");
  border-radius: 2px;

  &:hover {
    background-color: theme("colors.gray.100");
  }

  &.is-active {
    .section-item .button,
    .section-title {
      color: theme("colors.blue.500");
    }
  }

  &.has-error {
    .section-item .button,
    .section-title {
      color: theme("colors.red.600");
    }
  }

  &.has-no-border {
    border: none;
  }
}

.section-item {
  flex: 1;
  text-align: left;
  min-height: 52px;
  padding: 0 8px;
}

.section-title {
  margin: 0 8px;
}

.memo-input {
  width: 100%;
  border: 1px solid theme("colors.gray.200");
  resize: none;
  padding: 16px;
  line-height: normal;
  outline: none;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 500;
  min-height: 86px;

  &:hover {
    border-color: theme("colors.gray.300");
  }

  &:focus {
    border-color: theme("colors.blue.500");
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 38px;
  padding: 0 10px;
  background-color: theme("colors.gray.100");
  border-top: 1px solid theme("colors.gray.200");

  .button {
    color: theme("colors.gray.500");

    &:hover {
      background-color: theme("colors.white");
    }
  }

  .icon-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
  }

  .date {
    font-size: 12px;
    color: theme("colors.gray.500");
  }
}
