.container {
  width: 50px;
  box-sizing: content-box;
  border-right: 1px solid theme("colors.gray.200");
  background-color: theme("colors.gray.100");
  transition: width 0.2s ease-in-out;

  &:not(.is-active) {
    .link-text {
      display: none;
    }
  }

  &.is-active {
    width: 200px;

    @media (min-width: 1010px) {
      width: 290px;
    }
  }

  @media (max-width: 770px) {
    position: absolute;
    z-index: 60;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.overlay {
  display: none;
  pointer-events: none;

  @media (max-width: 770px) {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: theme("colors.gray.700");
    transition: opacity 0.2s ease-in-out;

    &.is-active {
      z-index: 50;
      opacity: 0.4;
      pointer-events: auto;
    }
  }
}

.sidebar-header {
  margin-top: 0.75rem;
  height: 3rem;
  padding: 0 8px;
  display: flex;
  align-items: center;
}

.sidebar-body {
  margin-top: 8px;
  max-height: calc(100% - 68px);
  overflow-x: hidden;
  overflow-y: auto;
}

.button {
  display: inline-flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  color: theme("colors.blue.500");
  padding: 0.25rem;

  &:hover {
    box-shadow: 0 0 0 1px theme("colors.gray.200");
    background-color: theme("colors.white");
  }

  &:focus {
    outline: 2px solid theme("colors.blue.900");
    outline-offset: -2px;
  }
}

.icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.sidebar-item {
  &:hover {
    background-color: theme("colors.gray.50");
  }

  &:not(.is-active) {
    .link-text {
      color: theme("colors.gray.700");
    }
  }

  &.is-active {
    font-weight: 700;
    background-color: theme("colors.gray.200");
  }
}

.sidebar-link {
  display: flex;
  align-items: center;
  height: 2.25rem;
  padding: 0 12px;
  white-space: nowrap;
  overflow: hidden;

  .icon-wrapper {
    color: theme("colors.gray.500");
    flex-shrink: 0;
  }
}

.link-text {
  font-size: 14px;

  &.is-title {
    margin-left: 8px;
    flex: 1;
  }
}
