.container {
  height: 60px;
  display: flex;
  padding: 12px 16px 0;
  align-items: center;

  &.is-displaying-today {
    height: auto;
    min-height: 60px;
    align-items: flex-start;

    .flexible-section {
      margin: 3px 0;
    }

    .today {
      padding: 0 8px 4px;
      font-size: 12px;
      font-weight: 200;
    }

    .button {
      margin: 8px 0;
    }
  }
}

.flexible-section {
  flex: 1;
}

.headline {
  display: flex;
  align-items: center;
}

.list-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 6px 8px;
}

@mixin button-base {
  display: inline-flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  border-radius: 2px;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px theme("colors.white"), 0 0 0 3px theme("colors.blue.500");
  }
}

.button {
  @include button-base;

  &:hover {
    background-color: theme("colors.gray.200");
  }
}

.icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}
