.container {
  flex: 1;
  display: flex;
  min-width: 0;
  max-width: 400px;
  margin: 0 10px;
  border-radius: 2px;
  background-color: theme("colors.blue.200");

  &.is-active {
    background-color: theme("colors.white");
  }

  &:hover {
    box-shadow: 0 0 0 1px theme("colors.white");
    background-color: theme("colors.white");
  }
}

.input {
  @apply text-sm;
  flex: 1;
  min-width: 0;
  margin: 0 10px;
}

.button {
  width: 2rem;
  height: 2rem;
  color: theme("colors.blue.500");

  &:focus {
    outline: 2px solid theme("colors.blue.900");
    outline-offset: -2px;
  }
}
