.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-section {
  height: 52px;
  margin: 0 8px;
  padding: 0 16px;
}

.list-section {
  flex: 1;
  max-height: calc(100vh - 160px);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.list-background {
  margin: 0 24px;
  flex: 1;
  background-image: linear-gradient(180deg, theme("colors.gray.200") 0 1px, theme("colors.white") 1px);
  background-size: 100% 54px;
}
