.home-link {
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin: 0 10px;
  color: theme("colors.white");
  font-weight: 700;

  &:focus {
    outline-color: theme("colors.white");
  }
}

.button {
  width: 3rem;
  height: 3rem;
  outline-offset: -1px;
  color: theme("colors.white");

  &.is-active {
    background-color: theme("colors.white");
    color: theme("colors.blue.500");

    &:focus {
      outline-color: theme("colors.blue.500");
    }
  }

  &:hover {
    background-color: theme("colors.blue.700");
    color: theme("colors.white");
    transition: all 0.2s ease-in-out;
  }

  &:focus {
    outline: 1px solid theme("colors.white");
  }

  &:active {
    background-color: theme("colors.blue.900");
  }
}
